* {
  box-sizing: border-box;
}
form {
  border-style: groove;
  max-width: 300px;
  max-height: 600px;
  margin: auto;
  padding: 50px 50px;
  background: #f4f7f8;
  border-radius: 8px;
}
input{
  border-style:solid;
  border-image-outset;
  border-color: grey;
  align-content: center;
  padding: left 20px;
  margin-left: 30px;
}

label{
  text-align: left;
  padding-right: 10px;

}
textarea{
  margin-left: 30px;
  padding-top: 50px;
}
button{
 background-color: lightpink;
 font-weight: bold;
}

fieldset{
  font-size: 20px;
  border-style: none;
}
