* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

h1 {
  color: white;
  font-size: 4em;
  margin: 0;
  width: 100%;
}

p {
  font-size: 3em;
  margin: 0;
  color: white;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.6);
}

/* background image
======================================================================= */

.location {
  background-image: url("http://joshcode.x10host.com/backgrounds/location.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15em;
}

/* header navigation
/* ========================================================= */

.navbar {
  position: fixed;
  text-align: center;
  list-style: none;
  margin: 0em;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
}

.navbar li {
  display: inline-block;
}

.navbar li a, .navbar .dropb {
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em;
  display: block;
}

.navbar li a:hover, .dropdown:hover .dropb {
  background: red;
}

.dropdown {
  display: inline-block;
  cursor: pointer;
}

.dropdown-info {
  text-align: left;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  display: none;
}

.dropdown:hover .dropdown-info {
  display: block;
}

/* div for space at the header
============================================= */

.space {
  padding-top: 3em;
}

/* footer banner image and Font
============================================================ */

.info {
  background-image: url("http://joshcode.x10host.com/backgrounds/banner.jpg");
  background-repeat: no-repeat;
  padding: 2em;
  text-align: center;
  font-size: 1.5em;
}

/* Copyright
==================================================== */

strong {
  color: #0089f9;
  font-size: .7em;
}

/* Footer navigation
========================================================= */

nav[class="design"] li a {
  color: white;
  text-decoration: none;
  margin: .3em;
}

nav li {
  display: inline-block;
}

/* Back to Top
==================================================================== */

.back {
  margin: 0;
  float: right;
  color: white;
}

@media only screen and (max-width: 900px) {
  .space {
    padding-top: 3em;
  }
  .font2 {
    width: 10em;
  }
  .location {
    padding: 10em;
  }
  h1 {
    width: 7.5em;
  }
  .wrapper {
    width: 31em;
  }
  @media only screen and (min-width: 320px) and (max-width: 568px) {
    .space {
      padding-top: 2em;
    }
    .wrapper {
      width: 15em;
      position: relative;
      right: 1.5em;
    }
    .back {
      float: none;
    }
    .location {
      padding: 5em;
    }
    .font2 {
      width: 100%;
    }
    h1 {
      font-size: 2em;
    }
    p {
      font-size: 1.5em;
      margin: 0;
      width: 10em;
    }
    .navbar {
      z-index: 1;
      font-size: .8em;
      padding: 0em;
    }
    .navbar li a, .navbar .dropb {
      padding: 1em;
    }